body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.container {
    background-color: orange;
    padding: 20px;
    box-shadow: 0 0 10px rgba(red, green, blue, alpha);
    width: 80%;
    max-width: 800px;
    text-align: center;
}

.navbar {
    background-color: black;
    overflow: hidden;
    margin-bottom: 20px;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: white;
    color: black;
}

header {
    margin-bottom: 20px;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.description { 
    color: grey;
    line-height: 1.6;
}

footer {
    margin-top: 20px;
    color: grey;
}